<html>
<head>
    {%  block javascripts %}
{{ html_style('http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css') }}
{{ html_style('css/base.css') }}
{{ html_script('https://code.jquery.com/jquery-2.1.3.min.js') }}
{{ html_script('http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js') }}
    {%  endblock %}
    {% block inlinejs %}

    {%  endblock %}
</head>
<body>
<div class="col-md-7 col-md-offset-2 col-sm-12" id="header-text">
<div class="h1 col-md-4 col-sm-12" id="headertext"><a href="{{ route('home') }}" id="hometext">Steven Smith</a></div>
<div class="col-md-7 col-md-offset-1 col-sm-12">
<ul class="nav nav-pills">
    <li><a href="{{ route('resume') }}">Resume</a></li>
    <li><a href="{{ route('blog') }}">Blog</a></li>
    {% if auth_check() %}
    <li><a href="{{ route('manageuser') }}">{{ auth_user().username }}</a></li>
    {% if auth_user().hasRole('Admin') %}
    <li><a href="{{ route('admin') }}">Admin</a></li>
    {% endif %}
    <li><a href="{{ route('logout') }}">Logout</a></li>
    {% else %}
    <li><a href="{{ route('login') }}">Login</a></li>
    {% endif %}
</ul>
</div>
</div>
<div class="col-md-12 col-sm-12">
<hr>
</div>
<div class="col-md-6 col-md-offset-2">
{% block content %}If you see me please contact {{ config_get('app.admin-email') }}, Thank you and sorry for the inconvenience{% endblock %}
</div>
</body>
</html>